/* Liberia de efectos en hover
================================= */

/* Wobble Top */
@-webkit-keyframes wobble-top {
  16.65% {
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }

  33.3% {
    -webkit-transform: skew(2.5deg);
    transform: skew(2.5deg);
  }

  49.95% {
    -webkit-transform: skew(-1.5deg);
    transform: skew(-1.5deg);
  }

  66.6% {
    -webkit-transform: skew(1deg);
    transform: skew(1deg);
  }

  83.25% {
    -webkit-transform: skew(-0.5deg);
    transform: skew(-0.5deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

@keyframes wobble-top {
 16.65% {
    -webkit-transform: skew(-3deg);
    transform: skew(-3deg);
  }

  33.3% {
    -webkit-transform: skew(2.5deg);
    transform: skew(2.5deg);
  }

  49.95% {
    -webkit-transform: skew(-1.5deg);
    transform: skew(-1.5deg);
  }

  66.6% {
    -webkit-transform: skew(1deg);
    transform: skew(1deg);
  }

  83.25% {
    -webkit-transform: skew(-0.5deg);
    transform: skew(-0.5deg);
  }

  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}

.wobble-top {
  display: inline-block;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.wobble-top:hover, .wobble-top:focus, .wobble-top:active {
  -webkit-animation-name: wobble-top;
  animation-name: wobble-top;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}