@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?qz3cs4');
	src:url('../fonts/icomoon.eot?#iefixqz3cs4') format('embedded-opentype'),
		url('../fonts/icomoon.woff?qz3cs4') format('woff'),
		url('../fonts/icomoon.ttf?qz3cs4') format('truetype'),
		url('../fonts/icomoon.svg?qz3cs4#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
	content: "\66";
}
.icon-share:before {
	content: "\e600";
}
.icon-facebook:before {
	content: "\e603";
}
.icon-facebook2:before {
	content: "\e604";
}
.icon-facebook3:before {
	content: "\e605";
}
.icon-instagram:before {
	content: "\e606";
}
.icon-twitter:before {
	content: "\e607";
}
.icon-twitter2:before {
	content: "\e608";
}
.icon-twitter3:before {
	content: "\e609";
}
.icon-youtube:before {
	content: "\e60a";
}
.icon-youtube2:before {
	content: "\e60b";
}
.icon-apple:before {
	content: "\e601";
}
.icon-android:before {
	content: "\e602";
}
.icon-pinterest:before {
	content: "\e60c";
}
.icon-pinterest2:before {
	content: "\e60d";
}
.icon-arrow-down2:before {
	content: "\e60e";
}
