

/* Type
================================ */

.planes-h3 {
	font-size: 1.6875rem;
}


/* Layout & Style
================================ */
div[class*="planes-page-"] {
	padding-top: 25px;
	padding-bottom: 25px;
}

.planes-page-2, .planes-page-5 {
	background: $azul;

	h2, h3, p{
		color: $p-color-alt;
	}

	a {
		color: $cafe-oscuro;
		transition-duration: 0.1s;

		&:hover{
			color: $p-color-alt;
		}
	}
}

.planes-page-3{
	background: $cafe-claro;

	h2, h3, p{
		color: $p-color-alt;
	}
}

.planes-page-4{

	@include background(image-url("bg_planes_phone.jpg") bottom right, $bg-color-alt);
	background-repeat: no-repeat;
	background-size: cover;
	@include box-shadow(inset 0 0 0 1000px rgba(0,0,0,0.4));

	h2, p{
		color: $p-color-alt;
	}
}


/* Logos & Icons
================================= */

.img-planes-dim {
	max-height: 160px;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;

}

/* Form
================================= */

form {
	background: none;
	color: $beige !important;
}

form img{
	opacity: 0.5;
}

legend {
	background-color: $beige !important;
}

fieldset{
	border:none;
}

input[type="tel"]{
	background: adjust-lightness($cafe-claro, 7%);
	height: 50px;
	font-size: 1.3em;
	text-align: center;
}

#opciones-invitados label:hover {
	opacity: 1;
}

input:focus{
	background: adjust-lightness($cafe-claro, 15%) !important;
}

.input_hidden {
	position: absolute;
	left: -9999px;
}

.selected {
	img{
		opacity: 1;
	}
}

#opciones-invitados label, #opciones-cliente label {
	display: inline-block;
	cursor: pointer;
}

#opciones-invitados label:hover, #opciones-cliente label:hover {
	img{
		opacity: 1;
	}
}

#opciones-invitados label img, #opciones-cliente label img {
	padding: 3px;
	height: 150px;
	width: 150px;
}

/* Tooltips
================================= */

span {
	border-radius: 5px;
	display: block;
	font-size: 1em;
	text-align: center;
	position: absolute;
	background: $azul;
	left: 100%;
	top: 14px;
	width: 160px;
	padding: 7px 10px;
	color: $beige;
}

.span-un-invitado {
	top: 14px;
	width: 160px;
}

.span-muchos-invitados {
	top: 5px;
	width: 250px;
}

span:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-right-color: $cafe-oscuro;
	border-width: 8px;
	margin-top: -8px;
}




/* Buttons
================================= */




/* Media Queries
================================= */
// Medium and up
@mixin mq-641px-planes {

	.img-planes-dim {
		max-height: 140px;

	}

	.planes-h3 {
		font-size: 2rem;
	}

	.planes-btn{
		padding-top: 20px;
	}


	.planes-page-4{

		@include background(image-url("bg_planes.jpg"), $bg-color-alt);
		background-repeat: no-repeat;
		background-size: cover;
	}


}


// End medium and up



// Device Retina
@mixin mq-retina-planes {

	
}
// End Device Retina
